.DS_Store
client/node_modules
socket/node_modules
server/node_modules
client/node_modules/.cache/default-development

/client/node_modules/.cache
# Environment variables file
/.env

# Client build directory (if using create-react-app)
/client/build

# Server build directory (if applicable)
/server/build

# Any local development configuration files
/config/*.json

# IDE and editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
